header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 99.5%;
  border-radius: 5px;
  border: 5px black solid;
  background-color: gold;
  text-align-last: center;
  z-index: 1;
}

header p {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

header p.links {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

header a:link {
  margin: 5px;
  padding: 2px;
  text-decoration: none;
  border: 2px black solid;
  color: black;
}

div.container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.container-red {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  border: 2px black solid;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

div.container-red p {
  animation: scrolltext 20s infinite linear;
  margin: auto;
  color: white;
}

div.container-yellow {
  display: flex;
  flex-flow: wrap;
  background-color: yellow;
}

@keyframes scrolltext {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loljeff {
from {transform: scale(.25);}
to {transform: translateX(200%);}
}

body {
  display: flex;
  flex-direction: column;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(255, 255, 255, 1)
  );
}
.img-master-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
  width: auto;
}

.img-container {
  display: flex;
  flex-direction: row wrap;
  border: 2px black solid;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  border-top: 0;
  border-left: 0;
  background-image: radial-gradient(white,navy);
}

img:hover{
  opacity: .5;
}

img {
  transform: scale(0.85);
  border-radius: 2px;
  border: 2px black solid;
  border-top: 0;
  border-left: 0;
}

body div.container {
  display: flex;
  flex-direction: row wrap;
  justify-content: left;
  border: 2px black solid;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
  border-top: 0;
  border-left: 0;
  background-color: gold;
}

body div.container p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}